<style>
    td input {
        border-left-width: 1px;
        border-left-style: solid;
        border-top-width: 1px;
        border-top-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        background-color: #ffffff;
    }
</style>
<!--start-contact-->
<div class="container" style="width:70%">
    <div class="row">
        <div class="panel-heading">
            <div class="page-header">
                <h1>
                    博客管理
                </h1>
                <small>访客只能浏览后台管理,无权限提交数据!</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" id="menu"></div>
        <div class="col-md-10" id="grid"></div>
    </div>
</div>
<script>
    function getMenu() {
        $.post("Management/Menu", function (data) { $("#menu").html(data); });
    }
    getMenu();
</script>
