<div class="row">
    <div class="row" style="margin-top:2px">
        <div class="col-md-1" style="float:left">
            <div class="row">
                <img class="img-rounded" style="float:left" src="https://s.gravatar.com/avatar/394c57af99397c032ce21c3c33faf7a4?s=80">
            </div>
            <div class="row" style="font-size:x-small;word-break:break-all;text-align:center;">asdgsdfsdf</div>
        </div>

        <div class="col-md-9" style="float:left">
            <div class="alert alert-success" style="margin-bottom:0px;padding-bottom:20px">
                <div class="row">
                    <p style="font-size:small;word-break:break-all; word-wrap:break-word ">
                        啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                    </p>
                </div>
                <div class="row" style="float:right;margin-right:5px">
                    <span style="font-size:xx-small;font-style:italic">2016/12/29 17:43:35</span>
                    <a href="javascript:void(0)">
                        <em style="font-size:x-small" onclick="reply(0, 91)">回复</em>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:2px">
        <div class="col-md-1" style="float:right">
            <div class="row">
                <img class="img-rounded" style="float:left" src="https://s.gravatar.com/avatar/394c57af99397c032ce21c3c33faf7a4?s=80">
            </div>
            <div class="row" style="font-size:x-small;word-break:break-all;text-align:center;">asdgsdfsdf</div>
        </div>
        <div class="col-md-9" style="float:right">
            <div class="alert alert-info" style="margin-bottom:0px;padding-bottom:20px">
                <div class="row">
                    <p style="font-size:small;word-break:break-all; word-wrap:break-word ">
                        啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                    </p>
                </div>
                <div class="row" style="float:right;margin-right:5px">
                    <span style="font-size:xx-small;font-style:italic;">2016/12/29 17:43:35</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="float:right">
    <ul class="pagination pagination-sm">
        <li class="disabled">
            <a href="#">
                <i class="fa fa-angle-left"></i>
                «
            </a>
        </li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-angle-right"></i>
                »
            </a>
        </li>
    </ul>
</div>

