 <!--博客摘要页start-->
<div>
    <div class="col-md-8">
        <br>
        <div class="row">
            <div id="snippetContent" class="col-md-12 welcome-left">
                @using MyWebProject.Models.QueryResult;
                @{List<SnippetResult> list = Model as List<SnippetResult>;
                    foreach (SnippetResult s in list)
                    {
                        <h3>@s.TITLE</h3>
                        <h4>@s.POST_ID</h4>
                        <div class="row">
                            @Html.Raw(System.Web.HttpUtility.UrlDecode(s.POST_CONTENT));
                        </div>
                        <ul class="list-inline">
                            <li>
                                <span class="label label-primary">CSS</span>
                                <span class="label label-primary">派生选择器</span>
                            </li>
                            <li>
                                <p>@s.DATE</p>
                            </li>
                            <li>
                                <p>阅读次数:@s.VIEW_COUNT</p>
                            </li>
                            <li>
                                <p>点赞次数:@s.PRAISE_COUNT</p>
                            </li>
                            <li>
                                <p>转载次数:@s.REPRODUCED_COUNT</p>
                            </li>
                        </ul>
                        <div class="w-btn">
                            <a href="#" class="hvr-shutter-out-horizontal" onclick="getDetial($(this).next().attr('postId'))">查看</a>
                            <input style="visibility:collapse" postId="3" />
                        </div>}
                }
            </div>
            <hr style="color:black" />
        </div>
        <div class="row">
            <ul id="snippetPage" class="pagination"></ul>
        </div>
    </div>
    <br>
    <div class="col-md-1"></div>
    <!--留言板start-->
    <div class="col-md-3" id="MsgBoardArea"></div>
    <!--留言板end-->
</div>
<!--博客摘要页end-->
<script>
    //更新摘要
    function getSnippet(pageStartNum, pageSize) {
        if (isNullOrEmpty(pageStartNum) || pageStartNum < 1) {
            pageStartNum = 1;
        }
        if (isNullOrEmpty(pageSize)) {
            pageSize = 5;
        }
        $.post('Blog/SnippetContent', {
            'pageStartNum': pageStartNum,
            'pageSize': pageSize
        }, function (data) {
            $("#snippetContent").html(data);
            getSnippetPaging(pageStartNum, pageSize);
        });
    }
    //获取页码
    function getSnippetPaging(pageStartNum, pageSize) {
        if (isNullOrEmpty(pageStartNum) || pageStartNum < 1) {
            pageStartNum = 1;
        }
        if (isNullOrEmpty(pageSize)) {
            pageSize = 5;
        }
        var pageEndNum = pageSize + pageStartNum;
        //生成当前页码
        var startBack = parseInt(pageStartNum) - parseInt(pageSize) < 0 ? 1 : parseInt(pageStartNum) - parseInt(pageSize);
        var html = '<li><a href="javascript:void(0)" onclick="getSnippet(' + parseInt(startBack) + ',' + parseInt(pageSize) + ')"><<</a></li>';
        for (var i = pageStartNum; i < pageEndNum; i++) {
            html += '<li><a href="javascript:void(0)" onclick="getSnippet(' + i + ',' + parseInt(pageSize) + ')">' + i + '</a></li>';
        }
        var startForward = parseInt(pageStartNum) + parseInt(pageSize);
        html += '<li><a href="javascript:void(0)" onclick="getSnippet(' + parseInt(startForward) + ',' + parseInt(pageSize) + ')">>></a></li>';
        $('#snippetPage').html(html);
    }

    //获取文章正文
    function getDetial(id) {
        $.post('Blog/Detial?id=' + id, function (data) {
            $("#content").html(data);
            //获取文章内留言
            getMessageBoard();
        });
    }
</script>
