 <!--博客摘要页start-->
<div>
    <div class="col-md-8">
        <br>
        <div class="row">
            <div id="snippetContent" class="col-md-12 welcome-left">
            </div>
            <hr style="color:black" />
        </div>
        <div class="row">
            <ul id="snippetPage" class="pagination"></ul>
        </div>
    </div>
    <br>
    <div class="col-md-1"></div>
    <!--留言板start-->
    <div class="col-md-3" id="MsgBoardArea"></div>
    <!--留言板end-->
</div>
<!--博客摘要页end-->
<script>
    //更新摘要
    function getSnippet(pageStartNum, pageSize, isUpdataPage) {
        if (isNullOrEmpty(pageStartNum) || pageStartNum < 1) {
            pageStartNum = 1;
        }
        if (isNullOrEmpty(pageSize)) {
            pageSize = 5;
        }
        $.post('Blog/SnippetContent', {
            'pageStartNum': pageStartNum,
            'pageSize': pageSize
        }, function (data) {
            $("#snippetContent").html(data);
            if (isUpdataPage == 1) {
                getSnippetPaging(pageStartNum, pageSize);
            }
            $("#snippetPage li").each(function () {
                $(this).attr("class", "");
                if ($(this).text() == pageStartNum) {
                    $(this).attr("class", "active");
                }
            });
        });
    }
    //获取页码
    function getSnippetPaging(pageStartNum, pageSize) {
        if (isNullOrEmpty(pageStartNum) || pageStartNum < 1) {
            pageStartNum = 1;
        }
        if (isNullOrEmpty(pageSize)) {
            pageSize = 5;
        }
        var pageEndNum = pageSize + pageStartNum;
        //生成当前页码
        var startBack = parseInt(pageStartNum) - parseInt(pageSize) < 0 ? 1 : parseInt(pageStartNum) - parseInt(pageSize);
        var html = '<li><a href="javascript:void(0)" onclick="getSnippet(' + parseInt(startBack) + ',' + parseInt(pageSize) + ',' + 1 + ')"><<</a></li>';
        for (var i = pageStartNum; i < pageEndNum; i++) {
            html += '<li><a href="javascript:void(0)" onclick="getSnippet(' + i + ',' + parseInt(pageSize) + ',' + 0 + ')">' + i + '</a></li>';
        }
        var startForward = parseInt(pageStartNum) + parseInt(pageSize);
        html += '<li><a href="javascript:void(0)" onclick="getSnippet(' + parseInt(startForward) + ',' + parseInt(pageSize) + ',' + 1 + ')">>></a></li>';
        $('#snippetPage').html(html);
    }

    //获取文章正文
    function getDetial(id) {
        $.post('Blog/Detial', { 'postId': id }, function (data) {
            $("#content").html(data);
        });           
    }
</script>
