<!--start-footer-->
<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="col-md-4 footer-left">
                <span class="glyphicon glyphicon-map-marker map-marker" aria-hidden="true"></span>
                <p>Tuzki-Studio <span>Province-AnHui</span> City-HeFei</p>
            </div>
            <div id="rightFoot" class="col-md-4 footer-left">
            </div>
            <div class="col-md-4 footer-left">
                <p class="footer-class">Copyright &copy; 2016.Tuzki-Zhang All rights reserved</p>
                <p style="font-size:small;font-style:oblique;color:#acacac">www.woaimulaohu.imwork.net</p>
                <ul>
                    <li><a href="javascript:void(0)" onmouseout="onOut()" onmouseover="onOver('qqcode')"><img src="~/Content/images/icon/icon_QQ_white.png" style="width:34px;height:34px;display:block" /></a></li>
                    <li><a href="javascript:void(0)" onmouseout="onOut()" onmouseover="onOver('gitcode')"><img src="~/Content/images/icon/icon_github_white.png" style="width:34px;height:34px;display:block" /></a></li>
                    <li><a href="javascript:void(0)" onmouseout="onOut()" onmouseover="onOver('wxcode')"><img src="~/Content/images/icon/icon_wx_white.png" style="width:34px;height:34px;display:block" /></a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../About/Index')"><img src="~/Content/images/icon/icon_email_white.png" style="width:34px;height:34px;display:block" /></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script type="text/javascript">
        function onOver(name) {
            $("#appendImg").remove();
            $("#rightFoot").append('<img onmouseout="onOut()" style="width:150px;height:150px;display:block;margin-top:-30px;" id="appendImg" src="/Content/images/icon/' + name + '.png" />');
        }
        function onOut() {
            $("#appendImg").remove();
        }
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!--end-footer-->
