<!--start-header-->
<div class="header" id="home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Home">
                    <img src="~/Content/images/HomeImg/logo.png" alt="" />
                    <audio name="0" id="audioPlayer" autoplay="autoplay" onended="audioNext()" preload="auto" src="">你的浏览器不支持audio标签</audio>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)" class="hvr-bounce-to-top" onclick="getHome()">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../Blog/Index')" class="hvr-bounce-to-top">博客</a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../About/Index')" class="hvr-bounce-to-top">关于</a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../Management/Index')" class="hvr-bounce-to-top">管理</a></li>
                    <li style="height:126px">
                        <a id="login" href="javascript:void(0)" onclick="jumpClick('../Other/Index')" class="hvr-bounce-to-top">登录</a>
                        <a id="login_Info" href="javascript:void(0)" onclick="quitLogin()" style="display:none;height:100%" class="hvr-bounce-to-top">
                            <ul class="list-unstyled" style="margin-left:20px;margin-top: 40px;">
                                <li style="margin-top: -50px;">
                                    <img id="login_avatar" class="img-circle" style="width:50px;height:50px;text-align:center;margin-right: 0px;margin-bottom:25px" src="">
                                </li>
                                <li>
                                    <p id="login_nickName" style="white-space:nowrap;margin-top:-30px"></p>
                                </li>
                            </ul>
                            <ul class="list-unstyled" style="float:right;margin-right:20px">
                                <li style="white-space:nowrap"><p>退出</p></li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--end-header-->
<script>
    audioNext();
    checkLogin();
</script>
