<!--start-header-->
<div class="header" id="home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/Content/images/HomeImg/logo.png" alt="" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)" class="hvr-bounce-to-top" onclick="getHome()">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../Blog/Index')" class="hvr-bounce-to-top">博客</a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../About/Index')" class="hvr-bounce-to-top">关于</a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../Management/Index')" class="hvr-bounce-to-top">管理</a></li>
                    <li><a href="javascript:void(0)" onclick="jumpClick('../Other/Index')" class="hvr-bounce-to-top">其他</a></li>
                </ul>
                <div class="clearfix"></div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--end-header-->
<script>
    function tips(elementId, msg, alertLevel) {
        var html;
        elementId = '#' + elementId;
        if ("danger"==alertLevel) {
            html = ' <div class="alert alert-danger" id="tips" role="alert"><strong>错误!</strong>' + msg + '</div>';
        }
        if ("warning" == alertLevel) {
            html = ' <div class="alert alert-warning" id="tips" role="alert"><strong>警告!</strong>' + msg + '</div>';
        }
        if ("success" == alertLevel) {
            html = ' <div class="alert alert-success" id="tips" role="alert"><strong>成功!</strong>' + msg + '</div>';
        }
        if ("info" == alertLevel) {
            html = ' <div class="alert alert-info" id="tips" role="alert"><strong>提示!</strong>' + msg + '</div>';
        }
        $('#tips').remove();
        $(elementId).append(html);
    }
</script>
