<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="woaimulaohu,tuzkiZhang,coder,blog,bootstrap,.net,razor" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/blogStyle.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript" src="~/Content/js/commonFunc.js"></script>
    <script src="~/Content/js/iconfont.js"></script>
    <!--Jquery cookie操作扩展-->
    <script type="text/javascript" src="~/Content/js/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <!--emoji表情开始-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/emojione/1.5.2/assets/sprites/emojione.sprites.css">
    @*<script type="text/javascript" src="to/path/js/jquery.min.js"></script>*@
    <link href="~/Content/js/emoji/emojionearea.min.css" rel="stylesheet" />
    <script src="~/Content/js/emoji/emojionearea.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/emojione/1.5.2/lib/js/emojione.min.js"></script>
    <!--emoji表情结束-->
    <!--百度富文本开始-->
    <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
    </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/Content/js/UEditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/Content/js/UEditor/ueditor.all.js"></script>
    <script src="~/Content/js/UEditor/ueditor.parse.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <!--百度富文本结束-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
        function jumpClick(target) {
            $.post(target, function (data) {
                $("#MiddleContent").html(data);
            });
        }
        function getHome() {
            location.href = 'Home';
        }

    </script>
    <!--start-smoth-scrolling-->
    <style type="text/css">
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
    @Html.Partial("~/Views/_Head.cshtml")
    <div id="MiddleContent" style="min-height:768px">
        @Html.Partial("~/Views/Home/Index.cshtml")
    </div>
    @Html.Partial("~/Views/_Foot.cshtml")
</body>
</html>
